## comment
# Исключаются файлы и каталоги имена которых начинаются с temp в любой поддиректории корня. К примеру, данный файл /somedir/temporary.txt будет исключен, как и этот каталог /somedir/temp
*/temp*
# Исключает файлы и каталоги чье название начинается с temp во всех каталогах второго уровня. К примеру, /somedir/subdir/temporary.txt
*/*/temp*
# Исключает файлы и папки в корневой директории чьи имена отличаются на один символ от temp. К примеру, /tempa и /tempb будут исключены.
temp?
#  исключит все файлы и папки найденные во всех каталогах, включая корень контекста сборки.
**/*temp*

# Все файлы с расширением .md за исключением README.md не будут добавлены в контекст
*.md
!README.md
# Исключает все log - файлы
**/*.log

.git
.gitignore
.env


# Ошибка 1: Исключение Dockerfile или .dockerignore
# Не надо исключать эти файлы. Они нужны Docker для процесса сборки, и игнорирование их может привести к неожиданным результатам.
#Dockerfile
#.dockerignore

# Ошибка 2: Исключение нужных файлов
# Ошибка 3: Исключение всего (всех файлов и директорий) используя звуздочку (*)
#Пример:
# Исключение всего
#*

